# --- Ignorar en TODO el proyecto (Raíz y subcarpetas) ---

# Dependencias (Esto evitará que se suban en backend y frontend)
node_modules/

# Archivos de sistema y editor (Basura)
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Backend ---
# Ignorar logs y variables de entorno en cualquier lugar
*.log
.env
.env.*

# --- Frontend ---
# Archivos de build de Angular/React/etc
dist/
build/
.angular/