<header>
  <nav>
    <button class="hamburger-menu" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <ul [class.menu-open]="isMenuOpen">
      <li>
        <a
          routerLink="/inicio"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          >Inicio</a
        >
      </li>
      <li>
        <a
          routerLink="/pokedex"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          >Pokédex</a
        >
      </li>
      <li>
        <a
          routerLink="/crear-pokemon"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          >Crear Pokémon</a
        >
      </li>
      <li>
        <a
          routerLink="/nosotros"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          >Nosotros</a
        >
      </li>
    </ul>
  </nav>
</header>
