<header>
  <nav>
    <button class="hamburger-menu" (click)="toggleMenu()">
      <span class="bar"></span><span class="bar"></span><span class="bar"></span>
    </button>

    <ul [class.menu-open]="isMenuOpen()">
      <div class="nav-left">
        <li><a routerLink="/inicio" routerLinkActive="active-link" (click)="closeMenu()">Inicio</a></li>
        <li><a routerLink="/pokedex" routerLinkActive="active-link" (click)="closeMenu()">Catálogo</a></li>
        
        <li *ngIf="authService.isStaff()">
          <a routerLink="/panel" routerLinkActive="active-link" (click)="closeMenu()">Panel de clínica</a>
        </li>
      </div>

      <div class="nav-right">
        <ng-container *ngIf="!authService.isAuthenticated(); else loggedIn">
          <li><a routerLink="/login" routerLinkActive="active-link" (click)="closeMenu()">Iniciar sesión</a></li>
        </ng-container>

        <ng-template #loggedIn>
          <li class="username">
            Hola, {{ authService.currentUser()?.username }}
            <!-- <span class="role-tag" *ngIf="authService.currentUser()?.role">
              ({{ authService.currentUser()?.role | lowercase }})
            </span> -->
          </li>

          <li><a routerLink="/perfil" (click)="closeMenu()">Mi perfil</a></li>
          
          <li *ngIf="authService.isStaff()">
            <a routerLink="/register" (click)="closeMenu()">Registrar cliente</a>
          </li>

          <li><a (click)="logout()" class="logout-link">Cerrar sesión</a></li>
        </ng-template>
      </div>
    </ul>
  </nav>
</header>